node_modules
npm-debug.log
yarn-error.log
build
es
dist
lib
coverage
target
.nrepl-port
.shadow-cljs
public/js

# Exclude IDE project folders
.idea
*.iml
*.sublime-project
*.sublime-workspace
.history
jsconfig.json

# OS files
.DS_STORE