node_modules
npm-debug.log
yarn-error.log
build
es
dist
lib
coverage

# Exclude IDE project folders
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.vscode
.history
jsconfig.json

# OS files
.DS_STORE